<%= form_with(model: @article, local:true) do |form| %>
	<div class="field">
		<%=form.label :title%>
		<%=form.text_field :title%>
	</div>

	<div class="field">
	   <%= form.label :category_elements %><!--para la relacion de muchos a muchos se añadio este campo especificado en el modelo-->
	   <div class="row">
			<% @categories.each do |category|%>
				<label class="col-6 col-sm-5">
					<%= form.check_box :category_elements, {multiple: true}, category.id, nil%><!-- multiple true para que me permita seleccionar mas de un checkbox y me permita enviarlo en un arreglo, luego el valor del check y por ultimo si está checkeado o no, en este caso nil-->
					<%= category.title%>
					
				</label>
			<%end%>
	   </div>
	</div>

	<div class="field">
		<%=form.label :content%>
		<%=form.rich_text_area :content%>
	</div>
		
	<div>
		<%=form.submit%>
	</div>

<%end%>
